.game {
  display: flex;
  flex-direction: column;
}

.race {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.raceStartBlock {
  display: flex;
  flex-grow:0;
  flex-direction: column;
  align-items: stretch;
  border-right: 1px solid black;
  padding: 2px;
}

.raceBlock {
  display: flex;
  flex-grow:1;
  flex-direction: column;
  align-items: stretch;
  xborder: 1px solid black;
  margin: 0 2px;
}

.raceLane {
  border: 1px solid black;
}

.raceBlock:first-child {
  border-bottom: 1px red;
}

.raceBlock:last-child {
  border-top: 0px;
}

.raceWinBlock {
  display: flex;
  flex-grow:0;
  flex-direction: column;
  align-items: stretch;
  border-left: 1px solid black;
  padding: 2px;
}

.hideTruck {
  opacity: 0;
}

.truck {
  font-size: 24px;
}

