<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

  <div class="container">
    <form name="formResetGame" ng-submit="setupGame(formResetGame.$valid)" novalidate>
      <div class="form-group row">
        <label for="player-name-input" class="col-sm-3 col-form-label">Player Name</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" value="Player 1" id="playerName" ng-model="playerName" required>
          <p ng-show="formResetGame.playerName.$invalid && !formResetGame.playerName.$pristine" class="help-block">Player name is required.</p>
        </div>
      </div>
      <div class="form-group row">
        <label for="number-of-truckers-input" class=col-sm-3 col-form-label">Number Of Truckers</label>
        <div class="col-sm-9">
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="truckerCountSelect" ng-model="numberOfTruckers" required>
            <option selected>Choose number of truckers</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
            <option value="6">Six</option>
          </select>
          <p ng-show="formResetGame.truckerCountSelect.$invalid && !formResetGame.truckerCountSelect.$pristine" class="help-block">valid trucker count is required.</p>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-email-input" class="col-sm-3 col-form-label">Initial Funds</label>
        <div class="col-sm-4">
          <input class="form-control" type="number" value="1000" min="1000" step="10" id="playerFunds" ng-model="initialFunds" required>
          <p ng-show="formResetGame.playerFunds.$invalid && !formResetGame.playerFunds.$pristine" class="help-block">Intial funds value is required.</p>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <button class="btn-sm btn-primary pull-right" type="submit" ng-disabled="formResetGame.$invalid">Start Game</button>
        </div>
      </div>
    </form>

  </div>

</body>
</html>
