<div class="jumbotron">

  <div class="header">
    <div class="container col-sm-10">
      <button class="btn-sm btn-primary" ng-click="resetGame()">Reset</button>
    </div>
    <h3 ng-show="winningAmount > 0">***Congrats, you have won ${{winningAmount}}!***</h3>
  </div>

  <div class="content">
    <div class="container col-sm-12 race">
      <div class="raceStartBlock">
        <div class="raceTruckBlock" ng-repeat="truckerBet in truckerBets" style="color: {{truckerBet.color}}" ng-class="{'hideTruck': !raceStarting}">
          <span ng-if="truckerBet.bet > 0">{{truckerBet.bet | currency}}</span>
          <i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i>
        </div>
      </div>
      <div class="raceBlock"">
        <div class="raceLane" ng-repeat="truckerBet in truckerBets" style="border: 1px solid black;">
          <div ng-class="{'hideTruck': ($index === (winnerTrucker-1) && !raceStarting)}">
            <div ng-repeat="i in [1,2,3]" style="float: right;color: {{truckerBet.color}}" >
              <span ng-if="truckerBet.bet > 0">{{truckerBet.bet | currency}}</span>
              <i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="raceWinBlock">
        <div class="raceTruckBlock" ng-repeat="truckerBet in truckerBets" style="color: {{truckerBet.color}}" ng-class="{'hideTruck': ($index !== (winnerTrucker-1) && !raceStarting)}">
          <span ng-if="truckerBet.bet > 0">{{truckerBet.bet | currency}}</span>
          <i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div>

  <div class="footer">
    <div class="container col-sm-10">
      <button class="btn btn-primary center" ng-click="placeBets('#myModal')">Place bet</button>
      <button class="btn btn-primary center" ng-click="startRace()" ng-class="{'disabled': !betsSet}" ng-disabled="!betsSet">Start race</button>
    </div>
    <div class="col-sm-2 pullRight">
      <span>{{playerAccountBalance | currency}}</span>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Place Bet</h4>
      </div>
      <div class="modal-body">
        <div class="container">

          <form name="formBetting" novalidation>
            <div class="form-group row" ng-repeat="truckerBet in truckerBets">
              <label for="truckerLabel" class="col-sm-3 col-form-label">{{truckerBet.name + ' (' + truckerBet.color + ')'}}</label>
              <div class="col-sm-4">
                <input class="form-control" type="number" step="10" name="truckerInput_{{$index}}" ng-model="truckerBet.bet" ng-required="true" ng-change="calcTotalBet()">
                <div class="text-danger"  ng-show="formBetting['truckerInput_' + $index].$invalid && !formBetting['truckerInput_' + $index].$touched" >Enter a valid bet amount.</div>
              </div>
            </div>
            <div class="alert alert-danger" role="alert" ng-show="alertPlayerOfInsufficientBalance">
              You do not have enough balance for this bet. Please reset the game to play
            </div>
            <div class="form-group row">
              <div class="col-sm-12 pull-right">
                <button class="btn btn-primary " ng-click="setupTruckerBets('#myModal')" ng-class="{'disabled': alertPlayerOfInsufficientBalance ||(totalBet === 0)}" ng-disabled="alertPlayerOfInsufficientBalance || (totalBet === 0)">Bet</button>
                <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>
