<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

  <div class="container">
    <form name="formResetGame" ng-submit="setupGame()" novalidate>
      <div class="form-group row">
        <label for="player-name-input" class="col-sm-3 col-form-label">Player Name</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" value="Player 1" name="playerName" ng-model="playerName" required>
          <div class="text-danger" ng-show="formResetGame.playerName.$invalid && formResetGame.playerName.$touched">Valid player name is required.</div>
        </div>

      </div>
      <div class="form-group row">
        <label for="number-of-truckers-input" class=col-sm-3 col-form-label">Number Of Truckers</label>
        <div class="col-sm-9">
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="truckerCountSelect" ng-model="numberOfTruckers" required>
            <option selected value="">Choose number of truckers</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
            <option value="6">Six</option>
          </select>
          <div class="text-danger"  ng-show="formResetGame.truckerCountSelect.$invalid && !formResetGame.truckerCountSelect.$touched">Valid trucker count is required.</div>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-email-input" class="col-sm-3 col-form-label">Initial Funds</label>
        <div class="col-sm-4">
          <input class="form-control" type="number" value="1000" min="1000" step="10" name="playerFunds" ng-model="initialFunds" required>
          <div ng-show="formResetGame.playerFunds.$invalid && !formResetGame.playerFunds.$pristine" class="text-danger" >Valid intial funds value is required.</div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <button class="btn btn-primary pull-right" type="submit" ng-class="{'disabled':formResetGame.$invalid}" ng-disabled="formResetGame.$invalid">Start Game</button>
        </div>
      </div>
    </form>

  </div>

</body>
</html>
